# Database
DATABASE_URL=postgresql://user:password@localhost:5432/zetafi
REDIS_URL=redis://localhost:6379

# Stellar / Soroban
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
LEDGER_CONTRACT_ID=
CREDIT_SCORE_CONTRACT_ID=
LENDING_POOL_CONTRACT_ID=
BACKEND_SIGNER_SECRET=

# Anchor / on-off ramp
ANCHOR_SEP24_URL=
ANCHOR_SEP31_URL=

# Payment Gateway QRIS
PAYMENT_GATEWAY_API_KEY=
PAYMENT_GATEWAY_WEBHOOK_SECRET=

# Auth
JWT_SECRET=super_secret_jwt_key_example

# App
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
PORT=4000
